.spacer {
    margin-bottom: 100px;
}

.cart-image {
    width: 100px;
}

footer {
    background-color: #f5f5f5;
    padding: 20px 0;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

.side-by-side {
    display: inline-block;
}